.contenedor{
    flex-direction: column;
    min-height: 12rem; 
    width: auto;
}

.contenedor img{
    width: 7rem;
}

.card-margenes{
    height: 73vh;
}

@media screen and (max-width: 768px){
    .card-margenes{
        height: 82vh;
    }
}